html {
    background: rgb(55,3,3);
    background: linear-gradient(350deg, rgba(55,3,3,1) 0%, rgba(156,19,19,1) 35%, rgba(255,0,0,1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: sans-serif;
}

main {
    display: grid;
    grid-template-areas: 
    "topbar topbar"
    "ads    content"
    "footer footer";
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 50px auto;
    gap: 0;
}
  
body {
    margin: 0 auto;
    width: 100%;
    max-width: 80ch;
    padding: 1rem;
    line-height: 1.5;
}

footer {
    background-color: black;
    grid-area: footer;
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
}

.header {
    background-color: black;
    grid-area: topbar;
}
  
* {
    box-sizing: border-box;
}
  
h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
}
/* nav styles */
.hamburger {
    padding-right: 20px;
    cursor: pointer;
}
  
.hamburger .line {
    display: block;
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background-color: #ff9776;
}
  
.nav-links {
    width: 100%;
    top: 5rem;
    left: 48px;
    background-color: #ff9776;
    display: none;
    margin: 0;
}
  
.nav-links a {
    display: block;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
}
  
.nav-links a:hover, a:focus {
    background-color: #ff9776;
}
  
.expanded {
    display: unset;
}
  
@media screen and (min-width: 636px) {
    .nav-links {
      margin-left: 5em;
      display: block;
      position: static;
      width: auto;
      background: none;
    }
  
    .nav-links a {
      display: inline-block;
      padding: 15px 20px;
    }
  
    .hamburger {
      display: none;
    }
}