---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "About Me";

const skills = ["HTML", "CSS", "JavaScript", "Astro"];

const coding = true;
const finished = false;
const days_worked = 4;
---

<BaseLayout pageTitle = {pageTitle}>
    <h2> and this little website</h2>

    <p  >My Skills are:</p>
    <ul  >
        {skills.map((skill) => <li>{skill}</li>)}
    </ul>

    <p  >This was made using Astro</p>

    <p  >This page will update with more information</p>

    {coding && <p  >Coding in progress using Astro!</p>}

    {finished && <p  >Like Schrodinger's cat, I am finished with this website</p>}

    <p  >Worked a total of {days_worked} days on this website</p>
    {days_worked % 7 === 0 ? <p  >A full week of work!</p> : <p  >Not yet a week's worth of work done.</p>}
</BaseLayout>