<html>
    <body>
        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/blog/">Blog</a>
        
        <h1>About Me</h1>
        <h2> and this little website</h2>

        <p>This was made using Astro</p>

        <p>This page will update with more information</p>
    </body>
</html>