---
import "../styles/global.css";

const pageTitle = "About Me";

const skills = ["HTML", "CSS", "JavaScript", "Astro"];

const coding = true;
const finished = false;
const days_worked = 1;
---

<html>
    <head>
        <title>{pageTitle}</title>
    </head>
    <body class="bg-amber-100">
        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/blog/">Blog</a>

        <h1 class="mx-auto flex items-center">{pageTitle}</h1>
        <h2 class="items-center"> and this little website</h2>

        <p class="items-center">My Skills are:</p>
        <ul class="items-center">
            {skills.map((skill) => <li>{skill}</li>)}
        </ul>

        <p class="items-center">This was made using Astro</p>

        <p class="items-center">This page will update with more information</p>

        {coding && <p class="items-center">Coding in progress using Astro!</p>}

        {finished && <p class="items-center">Like Schrodinger's cat, I am finished with this website</p>}

        <p class="items-center">Worked a total of {days_worked} days on this website</p>
        {days_worked % 7 === 0 ? <p class="items-center">A full week of work!</p> : <p class="items-center">Not yet a week's worth of work done.</p>}
    </body>
</html>